./Output
./DATA2
./DATA
DATA/clients_sm_final.csv

DATA/producto_rubro_final.txt

DATA/producto_segmento_final.txt

DATA/products_sm_final.csv

DATA/sales_sim_final-inv.txt

DATA/sales_sim_final-r.txt

DATA/sales_sim_final.txt

DATA2/clients_sm_final.csv

DATA2/producto_rubro_final.txt

DATA2/producto_segmento_final.txt

DATA2/products_sm_final.csv

DATA2/sales_sim_test.txt
