./Output
./DATA2
./DATA
DATA/clients_sm_final.csv

DATA/producto_rubro_final.txt

DATA/producto_segmento_final.txt

DATA/products_sm_final.csv

DATA/sales_sim_final-inv.txt

DATA/sales_sim_final-r.txt

DATA/sales_sim_final.txt

DATA2/clients_sm_final.csv

DATA2/producto_rubro_final.txt

DATA2/producto_segmento_final.txt

DATA2/products_sm_final.csv

DATA2/sales_sim_test.txt

Salida_Original/clients_sm_final.csv

Salida_Original/products_sm_final.csv

Salida_Original/sales_sim_final.txt

SALIDA/clients_sm_final.csv

SALIDA/producto_rubro_final-1000.txt

SALIDA/producto_segmento_final-1000.txt

SALIDA/products_sm_final.csv

SALIDA/sales_sim_final-1000-100.txt

SALIDA/sales_sim_final-1000-inv-f.txt

SALIDA/sales_sim_final-1000.txt

SALIDA/salida_clientes_n-0.dat

SALIDA/salida_clientes_n-1.dat

SALIDA/salida_clientes_n-2.dat

SALIDA/salida_clientes_u-0.dat

SALIDA/salida_clientes_u-1.dat

SALIDA/salida_clientes_u-2.dat

SALIDA/salida_productos_n-0.dat

SALIDA/salida_productos_n-1.dat

SALIDA/salida_productos_n-2.dat

SALIDA/salida_productos_u-0.dat

SALIDA/salida_productos_u-1.dat

SALIDA/salida_productos_u-2.dat

SALIDA/salida_recomendacion_n-0.dat

SALIDA/salida_recomendacion_n-1.dat

SALIDA/salida_recomendacion_n-2.dat

SALIDA/salida_recomendacion_u-0.dat

SALIDA/salida_recomendacion_u-1.dat

SALIDA/salida_recomendacion_u-2.dat

SALIDA/salida_ventas_n-0.dat

SALIDA/salida_ventas_n-1.dat

SALIDA/salida_ventas_n-2.dat

SALIDA/salida_ventas_u-0.dat

SALIDA/salida_ventas_u-1.dat

SALIDA/salida_ventas_u-2.dat

SALIDA0/salida_recomendacion_c0-0.dat

SALIDA0/salida_recomendacion_c0-1.dat

SALIDA0/salida_recomendacion_c0-2.dat

SALIDA0/salida_recomendacion_c0-4.dat

SALIDA0/salida_recomendacion_c0-6.dat

SALIDA0/salida_recomendacion_c0-8.dat

SALIDA0/salida_recomendacion_c1-0.dat

SALIDA0/salida_recomendacion_c1-1.dat

SALIDA0/salida_recomendacion_c1-2.dat

SALIDA0/salida_recomendacion_c1-4.dat

SALIDA0/salida_recomendacion_c1-6.dat

SALIDA0/salida_recomendacion_c1-8.dat

SALIDA0/salida_recomendacion_pr0-0.dat

SALIDA0/salida_recomendacion_pr0-1.dat

SALIDA0/salida_recomendacion_pr0-2.dat

SALIDA0/salida_recomendacion_pr0-4.dat

SALIDA0/salida_recomendacion_pr0-6.dat

SALIDA0/salida_recomendacion_pr0-8.dat

SALIDA0/salida_recomendacion_pr1-0.dat

SALIDA0/salida_recomendacion_pr1-1.dat

SALIDA0/salida_recomendacion_pr1-2.dat

SALIDA0/salida_recomendacion_pr1-4.dat

SALIDA0/salida_recomendacion_pr1-6.dat

SALIDA0/salida_recomendacion_pr1-8.dat

rankc0-0.csv

rankc0-1.csv

rankc0-2.csv

rankc0-4.csv

rankc0-6.csv

rankc0-8.csv

rankc1-0.csv

rankc1-1.csv

rankc1-2.csv

rankc1-4.csv

rankc1-6.csv

rankc1-8.csv

rankpr0-0.csv

rankpr0-1.csv

rankpr0-2.csv

rankpr0-4.csv

rankpr0-6.csv

rankpr0-8.csv

rankpr1-0.csv

rankpr1-1.csv

rankpr1-2.csv

rankpr1-4.csv

rankpr1-6.csv

rankpr1-8.csv
